{% extends 'base.html' %}
{% block content %}
{% load static %}
<br>
    <h1>Abalon</h1>
<br>
<div class="container text-justify">
    <div class="row">
      <div class="col">
        <img src="{% static 'abalon.jpeg' %}" alt="" width="100%">
        <br><br>
        <pre>
            Klasifikasi <hr>
            Kingdom : Animalia
            Filum   : Mollusca
            Kelas   : Gastropoda
            Ordo    : Archaeogastropoda
            Famili  : Haliotidae
            Genus   : Haliotis
        </pre>
      </div>
      <div class="col">
        <b>Ciri-ciri</b>
        <p>Abalon merupakan hewan lunak yang memiliki cangkang dengan berbentuk pipih, terbuka, spiral dengan memiliki beberapa pori-pori pernapasan tersusun di tepi luar cangkang. 
            Lapisan dalam cangkang terdiri dari lapisan mutiara  (mother of pearl), yang dalam banyak spesies abalone sangat warna-warni.
        </p> 
        <br>
        <b>Persebaran</b>
        <p>Untuk Famili Haliotidae memiliki distribusi di seluruh dunia, di sepanjang perairan pantai setiap benua, kecuali pantai Pasifik Amerika Selatan, Pantai Timur Amerika Serikat, Arktik, dan Antartika. 
            Sebagian besar spesies abalon ditemukan di perairan dingin, seperti di lepas pantai Selandia Baru, Afrika Selatan, Australia, bagian barat Amerika Utara, dan Jepang. Di DIY terdapat di wilayah Pantai Sepanjang Kabupaten Gunungkidul.
        </p> <br>
        <b>Manfaat dan Perannya</b>
        <p>Daging kelompok moluska ini dianggap sebagai salah satu makanan istimewa di sebagian Amerika Latin (khususnya Chili), Asia Tenggara, dan Asia Timur (khususnya di Republik Rakyat Tiongkok, Jepang, dan Korea). Selain itu daging abalon menjadi komoditas perikanan laut yang cukup bagus bagi DIY.</p>
      </div>
    </div>
    <a href="/beranda/" class="btn btn-info">Kembali</a>
</div>
<br><br><br>
<div class="sumber">
  <p>Sumber : Profil Kehati DIY Tahun 2016</p>
</div>
<br><br>
{% endblock %}