{% extends 'base.html' %}
{% block content %}
{% load static %}
    <br>
    <h1>Gurita</h1>
    <br>
    <div class="container text-justify">
        <div class="row">
          <div class="col">
            <img src="{% static 'gurita.jpg' %}" alt="" width="100%">
            <br><br>
            <pre>
                Klasifikasi <hr>
                Kingdom : Animalia
                Filum   : Molusca
                Kelas   : Cephalopoda
                Ordo    : Octopoda
                Famili  : Octopodidae
                Genus   : Octopus
                spesies : <i>Octopus sp.</i>
            </pre>
          </div>
          <div class="col">
            <b>Ciri-ciri</b>
            <p>Kelas Octopus melekat pada gurita yang menyatakan bahwa binatang tersebut berkaki delapan. Ukuran tubuh sekitar 1,5 cm hingga 3 m. Selain ukuran umum tersebut, di beberapa lokasi juga terdapat gurita yang panjangnya kurang dari 1 cm dan ukuran paling panjang yang pernah tercatat mencapai 20 meter.</p>
                    <p>Dalam struktur anatomi atau morfologinya meliputi : 
                        <ul>
                            <ol>
                                <li>Badan</li>
                                Badan gurita berbentuk bulat dan tidak memiliki sirip ataupun cangkang di luar tubuh seperti hewan air pada umumnya. Gurita memiliki cangkang yang berfungsi  sebagai rangka yang menjadi tempat melekatnya otot-otot penyusun struktur tubuh gurita.
                                <li>Kepala</li>
                                Mata gurita terletak di kepala yang berada diantara tubuh dan lapisan tentakel. Memiliki mulut yang berbentuk seperti paruh. Paruh ini menjadi bagian paling keras dan berfungsi utama sebagai rahang untuk melumpuhkan mangsanya. Gurita menggunakan mulitnya untuk membunuh mangsa dengan cara menggigitnya.
                                <li>Tentakel</li>
                                Tangan gurita berupa tentakel yang berjumlah delapan.  Pada bagian ini jugalah terdapat selaput renang dan kantong penghisap. Selaput renang merupakan membran yang berada di bagian pangkal lengan atau berdekatan dengan area kepala dan posisinya mengitari mata.
                                <li>Indera dan Sistem Saraf</li>
                                Mata gurita diketahui bersifat buta warna, sehingga sulit untuknya membedakan warna lingkungan disekitarnya. Kemampuan yang mendukung kualitas matanya terletak pada caranya membedakan polarisasi cahaya. Selain itu mata biota laut moluska ini juga sangat dipengaruhi oleh sistem gerak refleks yang menyebabkan pupil berbentuk horizontal.
                            </ol>
                        </ul>
                    </p>
                    <br>
            <br>
            
            <b>Persebaran</b>
            <p>Hidup di perairan dangkal mulai dari kedalaman 5 meter hingga 4.000 sampai 5.000 meter di bawah permukaan laut. Habitat Gurita di bagian dasar laut yang terdapat terumbu karang, sekaligus menjadi tempat berlindung gurita. </p>
            <p>Gurita hidup bebas di wilayah perairan subtropis Mediterania, perairan di timur jauh, dan laut Pasifik Selatan. Beberapa negara yang memiliki cukup banyak spesies yaitu Laut Tengah, Afrika, Asia, Amerika Selatan, dan kawasan Atlantik.</p>
            <br>

            <b>Manfaat</b>
            <ul>
                        <ol>
                            <li>Bahan Makanan</li> 
                                Sebagai bahan makanan, contohnya pada negara Jepang identik dengan olahan takoyaki, sushi, tempura, dan akashiyaki. Bahkan di Korea, masyarakatnya memakan gurita secara hidup-hidup biasanya disebut <i>sannakji</i>.
                            <li>Peliharaan</li>
                            Salah satu spesies yang paling cocok dijadikan sebagai peliharaan adalah Octopus bimaculoides atau Gurita California. Spesies ini ketika masih bayi berukuran seperti bola tenis yang membuat usia hidupnya bisa diperkirakan. Meski begitu rata-rata gurita tidak bisa hidup dengan baik jika berada di dalam akuarium.
                        </ol>
                    </ul>
          </div>
        </div>
        <a href="/beranda/" class="btn btn-info">Kembali</a>
    </div>
    <br> 
{% endblock %}