{% extends 'base.html' %}
{% block content %}
{% load static %}
    <br>
    <h1> Fat Innkeeper Worm</h1>
    <br>
    <div class="container text-justify">
        <div class="row">
          <div class="col">
            <img src="{% static 'gaebul.jpg' %}" alt="" width="100%">
            <br><br>
            <pre>
                Klasifikasi <hr>
                Kingdom : Animalia
                Filum   : Echinodermata
                Kelas   : Polychaeta
                Ordo    : Echiuroidea
                Famili  : Urechidae
                Genus   : Urechis
                spesies : <i>Urechis unicinctus</i>
            </pre>
          </div>
          <div class="col">
            <b>Ciri-ciri</b>
            <p>Dinamakan <i> Spoon worm </i> sebenarnya binatang ini masuk dalam spesies cacing sendok yang banyak hidup di laut. Badannya berbentuk silinder lonjong, berwarna kuning perpaduan cokelat dengan panjang yang bervariasi, dari 10 hingga 30 centimeter.</p>
            <br>
            <b>Persebaran</b>
            <p>Organisme ini sangat familiar di sepanjang pantai Barat Amerika Utara, namun mereka bersarang di dasar laut yang memiliki sedimen lunak atau di pasir pantai. Mereka menggali lubang yang berbentuk U untuk bersembunyi sekaligus mengumpulkan makanan mereka. Mereka juga dapat berenang dengan menggunakan belalai yang berbentuk seperti spatula.</p>
            <br>
            <b>Manfaat</b>
            <p> fat innkeeper worm bahkan dijadikan bahan makanan di beberapa negara, terutama di Korea, Jepang, dan China. Ikan ini dimakan mentah dengan menambahkan garam dan minyak wijen.  </p>
          </div>
        </div>
        <a href="/beranda/" class="btn btn-info">Kembali</a>
    </div>
    <br> 
    <div class="sumber">
      <p>Sumber : djawanews</p>
    </div>
{% endblock %}