{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container">
<br>
<h1>{{Heading}}</h1>

<div class="container">
<div class="row">
    <div class="col-md-6">
        {% if pesan %}
        <script>
            swal("Data berhasil ditambahkan", "{{ pesan }}", "success");
        </script>
         {% endif %}
            <form action="{% url 'update_map' maps.id %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}

                <input type="submit" value="Simpan" class="btn btn-primary">
                <a href="/lokasi" class="btn btn-warning">Kembali</a>
            </form>

</div>
</div>
</div>
</div>
<br><br><br>
{% endblock %}
